<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Account -->
  <servlet>
		<servlet-name>accountServlet</servlet-name>
		<servlet-class>wooof.huskylabs.server.UserAccountServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>accountServlet</servlet-name>
		<url-pattern>/huskylabs/account</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Huskylabs.html</welcome-file>
  </welcome-file-list>

</web-app>
