html,body {
	margin: 0px;
	padding: 0px;
}

.center {
	text-align: center;
}

.lblSimple {
	font-size: 1.2em;
	color: #c9c9c9;
}

.lblSimple:hover , .lblSimpleActive{
	color: #4086fa;
	transition: 1s all;
	-webkit-transition: 1s all;
	-moz-transition: 0.5 all;
	cursor: pointer;
}

/** HUSKY LOADING **/
	.loading {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 24px;
	  height: 24px;
	  margin: -12px 0 0 -12px;
	}

	.loading i {
	  position: absolute;
	  top: 24px; left: 24px;
	  display: block;
	  width: 24px;
	  height: 24px;
	  background: #4086fa;
	  border-radius: 24px;
	  -webkit-animation: spin2 1.5s ease-in-out infinite;
	}
	.loading i:first-child {
	  top: -24px; left: 0;
	  background: #4086fa;
	  opacity: 0.9;
	  -webkit-animation: spin 1.5s ease-in-out infinite;
	}
	.loading i:last-child {
	  top: 24px; left: -24px;
	  background: #4086fa;
	  opacity: 0.5;
	  -webkit-animation: spin3 1.5s ease-in-out infinite;
	}

	@-webkit-keyframes spin {
	  0% {
	    top: -24px;
	    left: 0;
	    -webkit-transform: scale(1);
	  }
	  17% {
	    -webkit-transform: scale(.5);
	  }
	  33% {
	    top: 24px;
	    left: 24px;
	    -webkit-transform: scale(1);
	  }
	  50% {
	    -webkit-transform: scale(.5);
	  }
	  66% {
	    top: 24px;
	    left: -24px;
	    -webkit-transform: scale(1);
	  }
	  83% {
	    -webkit-transform: scale(.5);
	  }
	  100% {
	    top: -24px;
	    left: 0;
	    -webkit-transform: scale(1);
	  }
	}
	@-webkit-keyframes spin2 {
	  0% {
	    top: 24px;
	    left: 24px;
	    -webkit-transform: scale(1);
	  }
	  17% {
	    -webkit-transform: scale(.5);
	  }
	  33% {
	    top: 24px;
	    left: -24px;
	    -webkit-transform: scale(1);
	  }
	  50% {
	    -webkit-transform: scale(.5);
	  }
	  66% {
	    top: -24px;
	    left: 0;
	    -webkit-transform: scale(1);
	  }
	  83% {
	    -webkit-transform: scale(.5);
	  }
	  100% {
	    top: 24px;
	    left: 24px;
	    -webkit-transform: scale(1);
	  }
	}
	@-webkit-keyframes spin3 {
	  0% {
	    top: 24px;
	    left: -24px;
	    -webkit-transform: scale(1);
	  }
	  17% {
	    -webkit-transform: scale(.5);
	  }
	  33% {
	    top: -24px;
	    left: 0;
	    -webkit-transform: scale(1);
	  }
	  50% {
	    -webkit-transform: scale(.5);
	  }
	  66% {
	    top: 24px;
	    left: 24px;
	    -webkit-transform: scale(1);
	  }
	  83% {
	    -webkit-transform: scale(.5);
	  }
	  100% {
	    top: 24px;
	    left: -24px;
	    -webkit-transform: scale(1);
	  }
	}