.maintenancePanel{}
.andiDialog{
	left: 0px !important;
	width: 100% !important;
	max-width: 95% !important;
}

.logo{
	max-width: 20% !important;
}

.frontTitle{
	font-size: 3em;
	margin-bottom: 10px;
}
.frontDescription{
	font-size: 1em;
}

.frontHeader{
	display: block !important;
	width: 100% !important;
}