.maintenancePanel{}
.andiDialog{
	left: 0px !important;
	width: 100% !important;
	max-width: 95% !important;
}

.logo{
	max-width: 20% !important;
}

.frontTitle{
	font-size: 3em;
	margin-bottom: 10px;
}
.frontDescription{
	font-size: 1em;
}

.frontHeader{
	display: block !important;
	width: 100% !important;
}
.header1{
	width:200px !important;
}
.header2{
	display: none !important;
}


.sideBar{
	left: -300px;
	z-index: 999;
}
.content{
	margin-left: 0px !important;
	width: 100% !important;
}

.cardLeft{
	display: none !important;
}

.card{
	width: 90% !important;
	margin: 5% !important;
}

.btnMenuMobile{
	display: inline-block !important;
	float: right !important;
}