 html,body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	background: #f9f9f9;
}

@sprite .maintenancePanel{
	gwt-image: 'bg_andi';
	background-color: #fff;
	width: 100%;
	height: 100%;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}

.andiTextBox {
	width: 100%;
	padding: 10px;
	font-size: 1.2em;
	border: 1px solid #E7E7E7;
	padding-left: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	margin-top: 5px;
}

.andiTextBox:focus {
	outline: none;
	border-left: 5px solid #a72773;
}